nav
{
   background: rgb(146, 197, 192);
   padding: 8px;
   text-align: right;
}
.b
{
   color: rgb(145, 75, 24);
    text-decoration: none;
    font-weight: bolder;
    font-size: larger;
}
img
{
  height: 375px;
  width: 100%;
 
}
iframe
{
   float: left;
   margin-left: 20px;
   height: 40%;
   width:25%;
   margin-top: 1.5%;
   margin-right: 14.5%;
}
p
{
   text-align: left;
   color: rgb(145, 75, 24);
   font-weight: bold;
}

.c
{
   float: left;
   margin-left: 20px;
   height: 30%;
   width:25%;
   margin-top: 5%;
   margin-right: 16.5%;
}
.d
{
   float: left;
   margin-left: 20px;
   height: 30%;
   width:25%;
   margin-top: 5%;
   margin-right: 16.5%;
   margin-bottom: 4%;
}